<head>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body x-data="{ showModal2: false}" :class="{'overflow-y-hidden':showModal2}">
    <div class="flex flex-col flex-1 w-full">
        <main class="h-full overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Product
                </h2>
                <div>
                    <button @click="showModal2 = true" class="capitalize px-6 py-2 font-semibold text-sm shadow-lg rounded-lg bg-green-500 text-white
                        hover:bg-green-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all
                        duration-300 m-2">
                        Add new
                        product</button>
                </div>
                <!-- New Table -->
                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                                <tr
                                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3">Category</th>
                                    <th class="px-4 py-3">Title</th>
                                    <th class="px-4 py-3">Price</th>
                                    <th class="px-4 py-3">Description</th>
                                    <th class="px-4 py-3 text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                <% for(var i=0; i<items.length; i++) {%>
                                <tr class="text-gray-700 dark:text-gray-400">
                                    <td class="px-4 py-3">
                                        <div class="flex items-center text-sm">
                                            <!-- Avatar with inset shadow -->
                                            <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                                <img class="object-cover w-full h-full rounded-full"
                                                    src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                                                    alt="" loading="lazy" />
                                                <div class="absolute inset-0 rounded-full shadow-inner"
                                                    aria-hidden="true"></div>
                                            </div>
                                            <div>
                                                <p class="font-semibold">
                                                    <%= items[i].categoryName %>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 text-sm"><%= items[i].title %></td>
                                    <td class="px-4 py-3 text-xs">
                                        <span
                                            class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                            $ <%= items[i].price %>
                                        </span>
                                    </td>
                                    <td class="px-4 py-3 text-sm truncate"><%= items[i].description %></td>
                                    <td class="px-4 py-3 text-sm">
                                        <div class="flex flex-row space-x-2 items-center justify-center">
                                            <button
                                                class="capitalize px-6 py-2 font-semibold text-sm shadow-lg rounded-lg bg-blue-500 text-white hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2">
                                                Edit</button>
                                                <form method="post"
                                                    action="/product/<%= items[i]._id %>?_method=DELETE">
                                                    <button
                                                    onclick="return confirm('Are you sure you want to delete this record?')"
                                                    class="capitalize px-6 py-2 font-semibold text-sm shadow-lg
                                                rounded-lg bg-red-600 text-white hover:bg-red-700 focus:outline-none
                                                focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2">
                                                    Delete</button>
                                                </form>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                        <span class="flex items-center col-span-3">
                            Showing 21-30 of 100
                        </span>
                        <span class="col-span-2"></span>
                        <!-- Pagination -->
                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                            <nav aria-label="Table navigation">
                                <ul class="inline-flex items-center">
                                    <li>
                                        <button
                                            class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                            aria-label="Previous">
                                            <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                <path
                                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600
                                            border border-r-0 border-purple-600 rounded-md focus:outline-none
                                            focus:shadow-outline-purple">
                                            1
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            2
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            3
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            4
                                        </button>
                                    </li>
                                    <li>
                                        <span class="px-3 py-1">...</span>
                                    </li>
                                    <li>
                                        <button
                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            8
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            9
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                                            aria-label="Next">
                                            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                                <path
                                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </span>
                    </div>
                </div>
                <div class="fixed inset-0 w-full h-full z-20 bg-black bg-opacity-50 duration-300 overflow-y-auto"
                    x-show="showModal2" x-transition:enter="transition duration-300"
                    x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                    x-transition:leave="transition duration-300" x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0">
                    <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
                        <div class="relative bg-white shadow-lg rounded-lg text-gray-900 z-20"
                            @click.away="showModal2 = false" x-show="showModal2"
                            x-transition:enter="transition transform duration-300" x-transition:enter-start="scale-0"
                            x-transition:enter-end="scale-100" x-transition:leave="transition transform duration-300"
                            x-transition:leave-start="scale-100" x-transition:leave-end="scale-0">
                            <div class="container mx-auto">
                                <div class="max-w-md mx-auto my-6 bg-white p-5 rounded-md shadow-sm">
                                    <div class="text-center">
                                        <h1
                                            class="my-3 text-xl font-semibold text-gray-700 dark:text-gray-200 capitalize">
                                            Add new product
                                        </h1>
                                    </div>
                                    <div class="m-7">
                                        <form action="/product" method="post" id="form" class="flex flex-col space-y-2">
                                            <div class="flex flex-row justify-between items-center">
                                                <label for="title"
                                                    class="block text-sm text-gray-600 dark:text-gray-400">Select
                                                    Category
                                                </label>
                                                <div class="relative">
                                                    <select required name="categoryName" class="bg-transparent rounded border appearance-none border-gray-200 py-2 focus:outline-none focus:border-red-500
                                                        text-sm pl-3 pr-10 capitalize">
                                                        <option value="men clothing">men clothing</option>
                                                        <option value="women clothing">women clothing</option>
                                                        <option value="electronics">electronics</option>
                                                        <option value="jewelry">jewelry</option>
                                                    </select>
                                                    <span
                                                        class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                                                        <svg fill="none" stroke="currentColor" strokeLinecap="round"
                                                            strokeLinejoin="round" strokeWidth="2" class="w-4 h-4"
                                                            viewBox="0 0 24 24">
                                                            <path d="M6 9l6 6 6-6"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="title"
                                                    class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Title
                                                </label>
                                                <input type="text" name="title" id="title" placeholder="T-shirt"
                                                    required
                                                    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                                            </div>
                                            <div class="">

                                                <label for="phone"
                                                    class="text-sm text-gray-600 dark:text-gray-400">Image
                                                    link
                                                </label>
                                                <input type="link" name="image" id="image"
                                                    placeholder="htttps://unsplash.com/t-shirt.png" required
                                                    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                                            </div>
                                            <div class="">

                                                <label for="price"
                                                    class="text-sm text-gray-600 dark:text-gray-400">Price
                                                </label>
                                                <input type="number" step="0.01" name="price" id="price" placeholder="$560" required
                                                    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                                            </div>
                                            <div class="">
                                                <label for="description"
                                                    class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
                                                    Description</label>

                                                <textarea rows="3" name="description" id="description"
                                                    placeholder="Your Description"
                                                    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                                                    required></textarea>
                                            </div>
                                            <div class="flex flex-row space-x-4">
                                                <button type="submit"
                                                    class="w-full px-3 py-2 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">
                                                    Add</button>
                                                <button type="submit" @click="showModal2 = false"
                                                    class="w-full px-3 py-2 text-white bg-green-500 rounded-md focus:bg-green-600 focus:outline-none">
                                                    Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>